<main>
    <section class="pt-5">
        <div class="container">
            <!-- Alert -->
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Une erreur s'est produite lors de la vérification de votre adresse e-mail
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Image -->
                    <img src="assets/images/element/504 Error Gateway Timeout-pana.png" class="h-200px h-md-400px" alt="">
                    <br>
                    <br>
                    <!-- Button -->
                    <a routerLink="/home" class="btn btn-primary mb-0">Take me to Homepage</a>
                </div>
            </div>
        </div>
    </section>
    </main>