<main>
    <section class="pt-5">
        <div class="container">
            <!-- Alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Votre email est vérifié avec succès
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Image -->
                    <img src="assets/images/element/Ok-bro.png" class="h-200px h-md-400px" alt="">
                    <br>
                    <br>
                    <!-- Button -->
                    <a routerLink="/home" class="btn btn-primary mb-0">Take me to Homepage</a>
                </div>
            </div>
        </div>
    </section>
</main>